:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secodary-font: 'Raleway', sans-serif;
    /* text color */

    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;

    /* bg colors */
    --light-bg-cl: #ffffff;
    --dark-bg-olor: #2F303A;
}

.body {
    font-family: var(--main-font);
    color: var(--primary-text-color)
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
}

.header-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
}

/* reset stayles */
ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

/* Header*/
.header {
    padding-top: 23px;
    background: var(--light-bg-cl);
}

.header-nav {
    display: flex;
    gap: 50px;

}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 331px;
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo {
    margin-left: 0;
    margin-right: 40px;
    width: 145px;
    font-family: var(--secodary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.logo-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.header-portfolio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--accent-color)
}

/* nav */

.header-studio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--accent-color)
}


.header-contact {
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}

.header-mail {
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--accent-color)
}

.header-namber {
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}

.header-logo:hover,
.header-logo:focus,
.header-contact:hover,
.header-contact:focus,
.header-studio:hover,
.header-studio:focus,
.header-namber:hover,
.header-namber:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);

}

/* hero */
.hero {
    display: block;
    background-color: var(--dark-bg-olor);

}

.hero-title {
    text-align: center;
    display: flex;
    padding: 200px 252px 30px 252px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    color: var(--light-bg-cl);
}

.hero-button {
    display: inline-block;
    margin-top: 0;
    margin-right: 498px;
    margin-left: 498px;
    margin-bottom: 200px;
    min-height: 50px;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.hero-button:hover,
.hero-button:focus {
    color: var(--accent-color);
}

/* About */

.about-container {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;

}

.about-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-text {
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color)
}

.about-item {
    display: flex;
    margin-top: 0px;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.about-bottom-side {
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
    padding-top: 0;
    padding-bottom: 94px;
}

.about-title {
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.img {
    display: flex;
    gap: 30px;
}

/* Teams*/

.section {
    background: #E5E5E5;

}

.team-container {
    padding-top: 94px;
    padding-bottom: 94px;

}

.team-title {
    display: block;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.img-team {
    display: flex;
    gap: 30px;
}

.team {
    padding-top: 30px;
    padding-bottom: 0;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.team-item {
    margin-bottom: 0;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

/* footer */
.footer {
    background: var(--dark-bg-olor);
}

.footer-logo {
    display: block;
    padding-top: 60px;
    margin-bottom: 20px;
    margin-top: 0;
    width: 145px;
    font-family: var(--secodary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.foot-logo {
    font-family: var(--secodary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.03em;
    color: var(--light-bg-cl);
}

.footer-link {
    gap: 9px;
    margin-top: 0;
    padding-bottom: 60px;
}

.footer-addres {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tell {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-addres:hover,
.footer-addres:focus,
.footer-tell:hover,
.footer-tell:focus,
.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}

/* portfolio.html */

.portfolio-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    outline: 2px solid red;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 94px;
    width: 1200px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--title-text-color)
}

.portfolio-item {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

/* Button */

.all-button:hover,
.all-button:focus,
.button:hover,
.button:focus {
    color: var(--accent-color);
}

.all-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-bg-cl);
    background: var(--accent-color);
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer var(--main-font);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
}

.portfolio-btn {
    display: flex;
    gap: 8px;
    padding-top: 174px;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 30px;
}

.portfolio-text {
    padding: 20px 24px;
    border: ;
}